

# Visual Studio 2015 cache/options directory
.vs/
**/*server
**/*client/dist/
**/*frontent/dist/

/yarn.lock
/package-lock.lock

**/*node_modules

.idea/
.vscode/
.awcache/

*.swp
*.log
.DS_Store
coverage/
.coveralls.yml